<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="LaQuiebraLTDAEntities" connectionString="metadata=res://*/ClienteModel.csdl|res://*/ClienteModel.ssdl|res://*/ClienteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=LaQuiebraLTDA;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LaQuiebraLTDAEntities1" connectionString="metadata=res://*/CreditosModel.csdl|res://*/CreditosModel.ssdl|res://*/CreditosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=LaQuiebraLTDA;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LaQuiebraLTDAEntities2" connectionString="metadata=res://*/PagosModel.csdl|res://*/PagosModel.ssdl|res://*/PagosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=LaQuiebraLTDA;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LaQuiebraLTDAEntities3" connectionString="metadata=res://*/AccesoModel.csdl|res://*/AccesoModel.ssdl|res://*/AccesoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=LaQuiebraLTDA;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>